apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  values:
    adminUser: "admin"
    adminPasword: "test123"
    service:
      type: ClusterIP
      port: 3000
    persistence: 
      enabled: true
      type: pvc
      size: 4Gi
  interval: 30m
  chart:
    spec:
      chart: grafana
      version: '*'
      sourceRef:
        kind: HelmRepository
        name: grafana-repo
        namespace: flux-system
  install:
    createNamespace: true
